.register {
  background-color: white;
  border-radius: 4px;
  color: black;
  padding: 30px;
  width: 400px;
  margin-top: 5%;
}
.register .header {
  text-align: center;
}
.register .label {
  font-weight: bold;
}
.register button {
  width: 100%;
  margin: 10px 0 10px 0;
}

.register-error {
  width: 400px;
  text-align: center;
  margin-top: 10px;
}
